.idea
*.iml
.idea/dataVisualize.iml
.idea/misc.xml
.idea/workspace.xml
Dao/mysql_config.json
**/__pycache__
static/assets/js/job_similar.json
service/dbtest.py
static/assets/js/job_similar.json
