
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>职位管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="MyraStudio" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="/static/assets/images/favicon.ico">


    <!-- App css -->
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/css/theme.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">

        function addjobTypeSelectItem(type) {
            $('#jobTypeSelect').append('<option value="'+type+'">'+type+'</option>')

        }

        function addjobCitySelectItem(city) {
            $('#jobCitySelect').append('<option value="'+city+'">'+city+'</option>')

        }

        function changePage(opr,currentPage,pageSize,totalPage) {
            if (opr=="first"){
                if (currentPage==1)
                    return
                currentPage=1
            }
            else if (opr=="pre"){
                if (currentPage==1)
                    return
                currentPage-=1
            }
            else if (opr=="next"){
                if (currentPage==totalPage)
                    return
                currentPage+=1
            }
            else if (opr=="last"){
                if (currentPage==totalPage)
                    return
                currentPage=totalPage
            }
            console.log("currentPage:"+currentPage)

            document.getElementsByName('searchForm')[0].currentPage.value=currentPage
            document.getElementsByName('searchForm')[0].value=pageSize
            document.getElementsByName('searchForm')[0].submit()
        }

        function removeJob(jobID) {
            if(confirm("确定要删除吗？")){
                document.getElementsByName('searchForm')[0].jobID.value=jobID
                document.getElementsByName('searchForm')[0].opr.value="del"
                document.getElementsByName('searchForm')[0].submit()
            }
        }

        function updateJob(jobID,jobName,jobCompany,jobCity,jobHighSalary,jobLowSalary) {
            document.updateForm.jobID.value=jobID
            document.updateForm.jobName.value=jobName
            document.updateForm.jobCompany.value=jobCompany
            document.updateForm.jobCity.value=jobCity
            document.updateForm.jobHighSalary.value=jobHighSalary
            document.updateForm.jobLowSalary.value=jobLowSalary
        }

        function scrapyText() {
            $.ajax({
                url:"/jobstatus",
                method:"post",
                data:{
                    "statusName":"scrapy"
                },
                dataType:"json",
                success:function (data) {
                    document.getElementById("progressInfo").innerHTML=("正在采集数据，进度:"+data["now"]+"/"+data["counts"])
                    console.log(data)
                },
                error:function (xhr) {

                }
            })
        }

        function scrapy() {
            id=setInterval(scrapyText,1000)
            $.ajax({
                url:"/scapyjobdetail",
                method:"post",
                data:{

                },
                dataType:"json",
                success:function (data) {
                    clearInterval(id)
                    document.getElementById("progressInfo").innerHTML="采集完成"
                },
                error:function (xhr) {

                }
            })
        }

        function similarJob() {
            id=setInterval(similarJobText,1000)
            $.ajax({
                url:"/jobsimilar",
                method:"post",
                data:{

                },
                dataType:"json",
                success:function (data) {
                    clearInterval(id)
                    document.getElementById("progressInfo").innerHTML="分析完成"
                },
                error:function (xhr) {

                }
            })
        }

        function similarJobText() {
            $.ajax({
                url:"/jobstatus",
                method:"post",
                data:{
                    "statusName":"similarJob"
                },
                dataType:"json",
                success:function (data) {
                    document.getElementById("progressInfo").innerHTML=("正在分析相似度，进度:"+data["now"]+"/"+data["counts"])
                    console.log(data)
                },
                error:function (xhr) {

                }
            })
        }
    </script>
</head>

<body>

    <!-- jQuery  -->
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/js/metismenu.min.js"></script>
    <script src="/static/assets/js/waves.js"></script>
    <script src="/static/assets/js/simplebar.min.js"></script>
    <script src="/static/assets/js/echarts.min.js"></script>
    <script src="/static/assets/js/bootstrap-select.min.js"></script>

    <!-- Begin page -->
    <div id="layout-wrapper">

        {% include "leftBar.html" %}

        {% include "topBar.html" %}

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0 font-size-18">职位数据管理</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">数据管理</a></li>
                                        <li class="breadcrumb-item active">职位数据管理</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-12">
                             <div class="card">
                                <div class="card-body">
                                    <p class="card-subtitle mb-4">
                                        <div class="block-div">
                                            <form action="/joblist" method="post" name="searchForm">
                                            工作名:<input type="text" style="width: 120px;"name="searchName" value="{{ search.jobName}}"/>
                                            <input type="hidden" name="currentPage" value="{{ page.currentPage }}"/>
                                            <input type="hidden" name="pageSize" value="{{ page.pageSize }}"/>
                                            <input type="hidden" name="opr" />
                                            <input type="hidden" name="jobID" />
                                            <select class="selectpicker" style="width: 100px;text-align: center" multiple title="工作类型" id="jobTypeSelect" name="jobTypeSelect" style="font-size: small;width: 100px">
                                            </select>
                                            <select class="selectpicker" style="width: 100px;text-align: center" multiple title="城市" id="jobCitySelect" name="jobCitySelect">
                                            </select>
                                            <input type="number" class="selected-bar" style="width: 100px;" placeholder="最低薪资" name="searchLowSalary" value="{{ search.searchLowSalary }}">
                                            <input type="number" class="selected-bar" style="width: 100px;" placeholder="最高薪资" name="searchHighSalary" value="{{ search.searchHighSalary }}">
                                            <button type="submit" class="btn-search">查询</button>&nbsp;
                                            <button type="button" class="btn-info" data-toggle="modal" data-target="#addModal">添加</button>&nbsp;
                                            <div class="block-div" style="float: right">
                                                <button type="button" class="btn btn-primary" onclick="scrapy()">采集职位详情</button>&nbsp;
                                                <button type="button" class="btn btn-primary" onclick="similarJob()">职位相似度分析</button>&nbsp;
                                            </div>
                                            <span id="progressInfo"></span>
                                        </form>
                                        </div>

                                    </p>

                                    <div class="block-div">
                                        <table class="table table-striped dt-responsive nowrap">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center">工作ID</th><th style="text-align: center">工作名</th><th>工作类型</th><th style="text-align: center"/>公司<th>地址</th><th>最低薪资</th><th>最高薪资</th><th style="text-align: center">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for job in page.pageList %}
                                            <tr>
                                                <td style="text-align: center">{{ job.jobID }}</td>
                                                <td><a href="/jobdetail?jobID={{ job.jobID }}"> {{ job.jobName }}</a></td>
                                                <td>{{ job.jobType }}</td>
                                                <td style="text-align: center">{{ job.jobCompany }}</td>
                                                <td>{{ job.jobCity }}</td>
                                                <td>{{ job.jobLowSalary }}</td>
                                                <td>{{ job.jobHighSalary }}</td>
                                                <td>
                                                    <button style="float: left" class="btn-danger" onclick="removeJob({{ job.jobID }})">删除</button>
                                                    <button style="float: right" onclick="updateJob({{ job.jobID }},'{{ job.jobName }}','{{ job.jobCompany}}','{{ job.jobCity }}',{{ job.jobHighSalary }},{{ job.jobLowSalary }})" data-toggle="modal" data-target="#updateModal" class="btn-confirm">修改</button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        <script>
                                            addjobTypeSelectItem('全部')
                                            addjobCitySelectItem('全部')
                                        </script>
                                        {% for type in page.allType %}
                                            <script>
                                                addjobTypeSelectItem('{{ type }}')
                                            </script>
                                        {% endfor %}
                                        {% for city in page.allCity %}
                                            <script>
                                                addjobCitySelectItem('{{ city }}')
                                            </script>
                                        {% endfor %}
                                        {% for type in page.selectType %}
                                            <script>
                                                $('#jobTypeSelect').selectpicker('val','{{ type }}')
                                            </script>
                                        {% endfor %}
                                        {% for city in page.selectCity %}
                                            <script>
                                                $('#jobCitySelect').selectpicker('val','{{ city }}')
                                            </script>
                                        {% endfor %}
                                         </tbody>
                                         <tfoot>
                                            <tr align="right">
                                                <td colspan="10" align="center">
                                                    当前为{{ page.currentPage }}页，总共有{{page.totalPage }}页、{{ page.count }}条记录，每页显示{{ page.pageSize }}条
                                                    <button onclick="changePage('first',{{ page.currentPage }},{{ page.pageSize }},{{page.totalPage }})">首页</button>
                                                    <button onclick="changePage('pre',{{ page.currentPage }},{{ page.pageSize }},{{page.totalPage }})">上一页</button>
                                                    <button onclick="changePage('next',{{ page.currentPage }},{{ page.pageSize }},{{page.totalPage }})">下一页</button>
                                                    <button onclick="changePage('last',{{ page.currentPage }},{{ page.pageSize }},{{page.totalPage }})">尾页</button>
                                                </td>
                                            </tr>
                                         </tfoot>
                                    </table>
                                    </div>

                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    </div>
                    <!-- end row-->


                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->


        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Overlay-->
    <div class="menu-overlay"></div>



    <!-- Morris Js-->
    <script src="../plugins/morris-js/morris.min.js"></script>
    <!-- Raphael Js-->
    <script src="../plugins/raphael/raphael.min.js"></script>

    <!-- Morris Custom Js-->
    <script src="/static/assets/pages/dashboard-demo.js"></script>

    <!-- App js -->
    <script src="/static/assets/js/theme.js"></script>

        <!-- Modal -->
        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form class="form-horizontal" action="/joblist" method="post" name="updateForm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">修改工作信息</h5>
                        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row mb-3">
                            <label for="inputEmail3" class="col-3 col-form-label">公司</label>
                            <div class="col-9">
                                <input type="text" name="jobCompany" readonly="readonly" class="form-control" id="inputEmail3">
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="inputEmail3" class="col-3 col-form-label">工作名</label>
                            <div class="col-9">
                                <input type="text" name="jobName" readonly="readonly" class="form-control" id="inputEmail3">
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="inputEmail3" class="col-3 col-form-label">地址</label>
                            <div class="col-9">
                                <input type="text" name="jobCity" readonly="readonly" class="form-control" id="inputEmail3">
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="inputPassword3" class="col-3 col-form-label">最低薪资</label>
                            <div class="col-9">
                                <input type="text" name="jobLowSalary" class="form-control" id="inputPassword3">
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="inputPassword3" class="col-3 col-form-label">最高薪资</label>
                            <div class="col-9">
                                <input type="text" name="jobHighSalary" class="form-control" id="inputPassword3">
                            </div>
                        </div>
                         <input type="hidden" name="jobID" />
                         <input type="hidden" name="opr" value="update"/>
                         <input type="hidden" name="searchName" value="{{ search.jobName}}"/>
                         <input type="hidden" name="currentPage" value="{{ page.currentPage }}"/>
                         <input type="hidden" name="pageSize" value="{{ page.pageSize }}"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect waves-light" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary waves-effect waves-light">保存</button>
                    </div>
                </div>
                </form>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form class="form-horizontal" action="/joblist" method="post" name="addForm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">添加工作</h5>
                        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row mb-3">
                            <label for="inputEmail3" class="col-3 col-form-label">公司</label>
                            <div class="col-9">
                                <input type="text" name="jobCompany" class="form-control" id="inputEmail3">
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="inputEmail3" class="col-3 col-form-label">城市</label>
                            <div class="col-9">
                                <input type="text" name="jobCity" class="form-control" id="inputEmail3">
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="inputEmail3" class="col-3 col-form-label">工作名</label>
                            <div class="col-9">
                                <input type="text" name="jobName" class="form-control" id="inputEmail3">
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="inputEmail3" class="col-3 col-form-label">工作类型</label>
                            <div class="col-9">
                                <input type="text" name="jobType" class="form-control" id="inputEmail3">
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="inputPassword3" class="col-3 col-form-label">最低薪资</label>
                            <div class="col-9">
                                <input type="text" name="jobLowSalary" class="form-control" id="inputPassword3">
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="inputPassword3" class="col-3 col-form-label">最高薪资</label>
                            <div class="col-9">
                                <input type="text" name="jobHighSalary" class="form-control" id="inputPassword3">
                            </div>
                        </div>
                         <input type="hidden" name="jobID" />
                         <input type="hidden" name="opr" value="add"/>
                         <input type="hidden" name="searchName" value="{{ search.jobName}}"/>
                         <input type="hidden" name="currentPage" value="{{ page.currentPage }}"/>
                         <input type="hidden" name="pageSize" value="{{ page.pageSize }}"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect waves-light" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary waves-effect waves-light">添加</button>
                    </div>
                </div>
                </form>
            </div>
        </div>

</body>

</html>